/* main css */
.border {
    border: 1px solid #007964 !important;
    /* border-radius: 10px; */
}

.form-control {
    /* border-radius: 20px; */
}

.btn {
    border-radius: 5px;
    /* min-width: 10%; */
}

.rtl {
    text-align: right;
}

.priority-1 {
    z-index: 100;
}

.priority-2 {
    z-index: 80;
}

.priority-3 {
    z-index: 60;
}

.priority-4 {
    z-index: 40;
}

.priority-5 {
    z-index: 20;
}