:root {
    --orange: #f4ae40;
    --white: #eef6f6;
    --green: #267284;
    --red: #bd5421;
    --gray: #9ab2bd;
}

@font-face {
    font-family: 'programmmingLancer';
    src: url('../fonts/iranyekanwebregular_FaNum.eot') format('eot');
    src: url('../fonts/iranyekanwebregular_FaNum.ttf') format('ttf');
    src: url('../fonts/iranyekanwebregular_FaNum.woff') format('woff');
    src: url('../fonts/iranyekanwebregular_FaNum.woff2') format('woff2');
}

.programming-lancer-font {
    font-family: programmmingLancer;
}

::selection {
    background-color: var(--orange);
}

::-moz-selection {
    background-color: var(--orange);
}

body {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    background-color: #fff !important;
    width: 15px !important;
}

body::-webkit-scrollbar-thumb {
    background: rgb(206, 206, 206) !important;
}